extends ../layout/admin

block custom-head
  link(rel="stylesheet", href="//cdn.metatavu.io/libs/jqTree/1.4.7/jqtree.css")
  script(defer="defer", src="//cdn.metatavu.io/libs/jqTree/1.4.7/tree.jquery.js", type="text/javascript")
  script(defer="defer", src="/js/category-management.min.js", type="text/javascript")

block body
  .category-management-container.container
    .row
      .col
        .card
          .card-body
            h5.card-title Kategoria hallinta
            .card-text
              #category-tree
      .col
        .card
          .card-body
            #categoryFormContainer