extends ../layout/default

include ../fragments/index-search-preview.pug
include ../fragments/index-about.pug

block custom-head
  script(defer="defer", src="/js/index.min.js", type="text/javascript")

block body
  +index-search-preview(items)
  +index-about()