extends ../layout/default

include ../fragments/item-info.pug

block custom-head
  script(defer="defer", src="/js/item.min.js", type="text/javascript")
  link(rel="stylesheet", href="/css/item-page.min.css")

block body
  .item-info-container.container
    +item-info(item, locale)