include ../fragments/top-menu

doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="DCFB")
    meta(name="author", content="")
    script(defer="defer", src="//cdn.metatavu.io/libs/es5-shim/4.5.10/es5-shim.min.js")
    script(defer="defer", src="//cdn.metatavu.io/libs/es6-shim/0.35.3/es6-shim.min.js")
    script(defer="defer", src="//cdn.metatavu.io/libs/regenerator-runtime/0.11.1/runtime.js")
    script(defer="defer", src="//cdn.metatavu.io/libs/jquery/3.2.1/jquery.min.js", type="text/javascript")
    script(defer="defer", src="//cdn.metatavu.io/libs/jquery-ui/1.12.1/jquery-ui.min.js", type="text/javascript")
    script(defer="defer", src="//cdn.metatavu.io/libs/popper.js/1.11.0/popper.min.js",type="text/javascript")
    script(defer="defer", src="//cdn.metatavu.io/libs/bootstrap/4.0.0/js/bootstrap.min.js",type="text/javascript")
    script(defer="defer", src="//cdn.metatavu.io/libs/lodash/4.16.4/lodash.min.js", type="text/javascript")
    script(defer="defer", src="//cdn.metatavu.io/libs/flatpickr/4.4.7/flatpickr.min.js",type="text/javascript")
    script(defer="defer", src="/js/pug-templates.min.js", type="text/javascript")
    script(defer="defer", src="/js/localization.min.js", type="text/javascript")
    script(defer="defer", src="/js/promise-json.min.js", type="text/javascript")
    script(defer="defer", src="//cdn.metatavu.io/libs/noty/3.1.3/noty.min.js",type="text/javascript")
    link(rel="stylesheet", href="//cdn.metatavu.io/libs/jquery-ui/1.12.1/themes/base/theme.css")
    link(rel="stylesheet", href="//cdn.metatavu.io/libs/flatpickr/4.4.7/flatpickr.min.css")
    link(rel="stylesheet", href="//cdn.metatavu.io/libs/bootstrap/4.0.0/css/bootstrap.min.css")
    link(rel="stylesheet", href="//cdn.metatavu.io/libs/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css")
    link(rel="stylesheet", href="/css/default-layout.min.css")
    link(rel="stylesheet", href="/css/form-layout.min.css")
    link(rel="stylesheet", href="//cdn.metatavu.io/libs/noty/3.1.3/noty.css")
    block custom-head
    if googleAnalytics
      script.
        (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,"script","https://www.google-analytics.com/analytics.js","ga");
        ga("create", "#{googleAnalytics}", "auto");
        ga("send", "pageview");
  body(data-current-locale=locale)
    +top-menu()
    block body
