$body-background-color: #e8e8e8;
$btn-success-background-color: #78c43e;
$btn-warning-background-color: #ef8e49;
$top-menu-font-color: #000;
$navbar-bg-color: #fff;
$search-title-color: #fff;
$navbar-calltoaction-btn-text-color: #fff;
$search-input-background-color:  #fff;
$search-input-text-color: #000;
$search-input-placeholder-color: #000;
$search-quick-category-background: rgba(3, 143, 231, 0.8);
$search-quick-category-text: #fff;
$advanced-search-link-color: #fff;
$footer-hr-color: #868686;
$sale-poster-background-color: #fff;
$sale-poster-seller-color: #5eaf37;
$index-about-text-color: #fff;
$index-about-calltoaction-button: #fff;
$footer-bottom-link-text: #000;
$footer-copyright-text: #000;