@charset "UTF-8";

@import "breakpoints";
@import "colors";
@import "fonts";

.item-info-container {
  margin-top: 50px;
  
  @include media-breakpoint-up-lg {
    margin-top: -50px;
  }
  
  .item-info {
    background-color: $search-result-background-color;
    padding: 10px;
    margin-bottom: 10px;
    
    .result-img {
      min-height: 300px;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .result-sm-imgs {
      position: absolute;
      bottom: 5px;
      right: 15px;
      left: 15px;
      overflow: hidden;

      .result-sm-img {
        height: 38px;
        width: 38px;
        float: right;
        border-radius: 5px;
        margin-right: 5px;
        opacity: 0.9;
        border: 1px solid #88666666;
        background-size: cover;
        background-position: center;

        &:hover {
          opacity: 1;
        }
      }
    }
    
    strong {
      color: $search-result-category-color;
    }

    .out-of-stock {
      color: #ff0000;
    }
    
    .buy-btn {
      margin-top: 10px;
      margin-bottom: 20px;
      padding-left: 45px;
      padding-right: 45px;
    }
    
    .result-side-details {
      text-align: right;
      padding-right: 15px;
    }
    
    .location-icon {
      padding-right: 5px;
    }
  }
}

.delete-item-button {
  margin-right: 3px;
}

.sell-item-button {
  margin-left: 3px;
}