mixin footer()
  .container
    .row
      .col
        hr
    .row
      each category in footerMainCategories
        .col
          dl
            dt
              = _LP(category.title)
            if childCategories[category.id]
              each childCategory in childCategories[category.id]
                dd
                  = _LP(childCategory.title)
      .col
        dl
          each category in footerSideCategories
            dt
              = _LP(category.title)
    .row
      .col
        hr
    .row
      .col.py-5.text-center
        img.img-fluid(src="/gfx/eu_logot.png")
    .row
      .col.text-center.bottom-links-container
        a(href="#")
          =__("footer.terms-of-service.link")
        a(href="#")
          =__("footer.privacy-policy.link")
        a(href="#")
          =__("footer.feedback.link")
    .row
      .col.text-center
        p.copyright
         =__("footer.copyright")

