mixin index-about()
  .about-container.d-none.d-lg-block
    .container
      .row.no-gutters.align-items-center
        .col
          img.img-fluid(src="/gfx/metalpipes.png")
        .col-6.text-center.about-content
          h2
            =__("index.about.title")
          p
            =__("index.about.text")
          a(href="#")
            =__("index.about.link")
        .col
          .about-call-to-action.mx-auto.text-center
            h4
              =__("index.about.calltoaction.title")
            p
              =__("index.about.calltoaction.text")
            button.btn.btn-warning.btn-sm
              =__("index.about.calltoaction.button")