mixin item-info(item, currentLocale)
  .item-info
    .row
      .col-lg-5
        if item.images.length
          .result-img(style="background-image: url("+ item.images[0].url +");")
            .result-sm-imgs
              each image, index in item.images
                .result-sm-img(style="background-image: url("+ image.url +");")

      .col.pt-2
        h2
          = _LS(item.title)
        strong
          = _LS(categoryMap[item.categoryId].title)
        p
          b
            =item.unitPrice.price + " " + item.unitPrice.currency
          = " / " + __("search-results.unit")
        .result-details
          p
            = __("search-results.amount")
            b
              = " " + item.amount + " " + item.unit
          p
            = __("search-results.location")
            b
              = " " + _LS(location.name)
          p
            = _LS(item.description)
        
        p
          input.product-units(type="number",step=1)
        button.btn.btn-primary.buy-btn
          = __("item.purchase.button")
      .col-4.col-sm-2.pt-2
        .result-side-details
          p
            =item.date
            br
            =item.time
          p.item-location
            img.location-icon(src="/gfx/icons/location-icon-small.png")
            =item.location
  input.stripe-details(type="hidden",value=stripeDetails)