mixin quick-category-button(category)
  a(href="/search?category=" + category.slug)
    .quick-category-btn.text-center
      img.img-fluid.category-icon(src=category.icon)
      h3
        = _LP(category.title)