mixin quick-category-button(category)
  a(href="/search?category=" + category.id)
    .quick-category-btn.text-center
      i.banner-category-icon.fas(class=category.icon)
      h3
        = _LP(category.title)