mixin sale-poster(item, currentLocale)
  a(href="/item/" + item.id)
    .sale-poster
      if item.images.length
        .poster-img(style="background-image: url("+ item.images[0].url +");")
      h3
        = _LS(item.title)
      small
        =item.businessName || item.seller
      p.item-location
        img.location-icon(src="/gfx/icons/location-icon-small.png")
        =item.location