mixin sale-poster(item)
  a(href="/item/" + item.id)
    .sale-poster
      .poster-img(style="background-image: url("+ item.image +");")
      h3 
        =item.title
      small
        =item.seller
      p.item-location
        img.location-icon(src="/gfx/icons/location-icon-small.png")
        =item.location