mixin sale-poster(item, currentLocale)
  a(href="/item/" + item.id)
    .sale-poster
      .poster-img(style="background-image: url("+ item.image +");")
      each localizedTitle in item.title
        if localizedTitle.locale === currentLocale
          h3
            =localizedTitle.value
      small
        =item.seller
      p.item-location
        img.location-icon(src="/gfx/icons/location-icon-small.png")
        =item.location