include ./quick-category-button.pug

mixin search()
  .search-container
    .container
      .row
        .col
          h1.search-title.text-center
            =__("search.title")
      .row.no-gutters.search-inputs-container
        .col-lg-4.py-2.py-lg-0.pr-lg-1
          input#search-freetext-input.search-input.form-control.form-control-lg.py-2(name="search-freetext", type="text", placeholder=__("search.freetext.placeholder"))
        .col-lg.py-2.py-lg-0.pr-lg-1
          input#search-category-input.search-input.form-control.form-control-lg.py-2(name="search-category", placeholder=__("search.category.placeholder"), data-source=JSON.stringify(categoryTree))
        .col-lg.py-2.py-lg-0.pr-lg-1
          input#search-location-input.search-input.form-control.form-control-lg.py-2(name="search-location", type="text", placeholder=__("search.location.placeholder"))
        .col-lg-2.pt-5.pb-3.pt-lg-0.pb-lg-0.pr-lg-1.pl-lg-1.text-center.text-lg-left
          a#search-execute-btn.btn.btn-success.search-btn.btn-lg(href="#")
            =__("search.button.text")
      .quick-categories-container
        -var c = 0
        while c < indexCategories.length
          .row.no-gutters
            if indexCategories[c]
              .col-lg
                +quick-category-button(indexCategories[c])
                if indexCategories[c + 1]
                  +quick-category-button(indexCategories[c + 1])
            if indexCategories[c + 2]
              .col-lg
                +quick-category-button(indexCategories[c + 2])
                if indexCategories[c + 3]
                  +quick-category-button(indexCategories[c + 3])   
          -c+=4
          
    