mixin search-result(item, currentLocale)
  a(href="/item/" + item.id)
    .search-result
      .row
        .col-md-3.d-none.d-sm-block
          if item.images.length
            .result-img(style="background-image: url("+ item.images[0].url +");")
        .col.pt-2
          h2
            = _LS(item.title)
          strong
            = _LS(categoryMap[item.categoryId].title)
          p
            b
              =item.unitPrice.price + " " + item.unitPrice.currency
            = " / " + __("search-results.unit")
          .result-details
            p
              = __("search-results.amount")
              b
                = " " + (item.amount - item.soldAmount - item.reservedAmount) + " " + item.unit
            p
              =_LS(item.description)
        .col-4.col-sm-2.pt-2
          .result-side-details
            p
              =moment(item.createdAt).format("DD.MM.YYYY")
              br
              =moment(item.createdAt).format("H:MM")
            p.item-location
              img.location-icon(src="/gfx/icons/location-icon-small.png")
              = " " + _LS(locationMap[item.locationId].name)