include ./search-result.pug

mixin search-results(items)
  .search-results-container.container
    each item in items
      +search-result(item, locale)
    else
      .no-results-container
        p
          =__("search.no-results")