include ./quick-category-button.pug

mixin search()
  .search-container
    .container
      .row
        .col
          h1.search-title.text-center
            =__("search.title")
      .row.no-gutters
        .col-lg-4.py-2.py-lg-0.pr-lg-1
          input.search-input.form-control.form-control-lg.py-2(name="search-freetext", type="text", placeholder=__("search.freetext.placeholder"))
        .col-lg.py-2.py-lg-0.pr-lg-1
          select.search-input.form-control.form-control-lg.py-2(name="search-category")
            option(value="")
              =__("search.category.placeholder")
            each category in allCategories
              option(value=category.id)
                = _LS(category.title)
        .col-lg.py-2.py-lg-0.pr-lg-1
          input.search-input.form-control.form-control-lg.py-2(name="search-location", type="text", placeholder=__("search.location.placeholder"))
        .col-lg-2.pt-5.pb-3.pt-lg-0.pb-lg-0.pr-lg-1.pl-lg-1.text-center.text-lg-left
          a.btn.btn-success.search-btn.btn-lg.search-btn(href="/search")
            =__("search.button.text")
      .row.no-gutters
        .col
        .col-lg-2.text-center.text-lg-left.px-2.py-lg-3
          a.advanced-search-link(href="#")
            =__("search.advanced.link")
      .quick-categories-container
        -var c = 0
        while c < indexCategories.length
          .row.no-gutters
            if indexCategories[c]
              .col-lg
                +quick-category-button(indexCategories[c])
                if indexCategories[c + 1]
                  +quick-category-button(indexCategories[c + 1])
            if indexCategories[c + 2]
              .col-lg
                +quick-category-button(indexCategories[c + 2])
                if indexCategories[c + 3]
                  +quick-category-button(indexCategories[c + 3])   
          -c+=4
          
    