mixin top-menu()
  nav.navbar.navbar-expand-lg.fixed-top.navbar-light
    .container
      a.navbar-brand.pr-5(href="/")
        img.img-fluid(src="/gfx/logo.png", alt="Mansyns")
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          each topMenuCategory in topMenuCategories || []
            li.nav-item
              a.nav-link(href="/search?category="+ topMenuCategory.id)
                =_LP(topMenuCategory.title)
        form.form-inline.mt-2.mt-md-0
          a.locale-btn.locale-btn-fi(href="/?lang=fi")
            img(src="/gfx/locale_fi.png")
          a.locale-btn.locale-btn-en(href="/?lang=en")
            img(src="/gfx/locale_en.png")
          if authenticated
            .dropdown
              a#navbarAccountDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                i.far.fa-user-circle
                =" "+username
              .dropdown-menu(aria-labelledby='navbarAccountDropdown')
                a.dropdown-item(href=accountUrl)
                  =__("top.menu.profile")
                a.dropdown-item(href='/search?userIds='+userId)
                  =__("top.menu.myitems")
                .dropdown-divider
                a.dropdown-item(href="/logout")
                  =__("top.menu.logout")
          else
            a.login-link(href="/login")
              i.far.fa-user-circle
              =__("top.menu.login")
          a.btn.btn-sm.btn-warning.calltoaction-btn(href="/add/item")
            =__("top.menu.calltoaction.btn")
