mixin top-menu()
  nav.navbar.navbar-expand-lg.fixed-top.navbar-light
    .container
      a.navbar-brand.pr-5(href="/")
        img.img-fluid(src="/gfx/logo.png", alt="Mansys")
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarCollapse", aria-controls="navbarCollapse", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link(href="#")
              =__("top.menu.materials")
          li.nav-item
            a.nav-link(href="#")
              =__("top.menu.services")
          li.nav-item
            a.nav-link(href="#")
              =__("top.menu.workforce")
          li.nav-item
            a.nav-link(href="#")
              =__("top.menu.logistics")
          li.nav-item
            a.nav-link(href="#")
              =__("top.menu.about")
        form.form-inline.mt-2.mt-md-0
          a.btn.btn-sm.btn-warning.calltoaction-btn(href="/add/item")
            =__("top.menu.calltoaction.btn")
